@use "../../sass" as *;

.container {
  padding: 32px;
  padding-top: 132px;
  background-color: #f1f1f1;
}

@media (max-width: 575px) {
  .container {
    padding: 16px;
    padding-top: 132px;
  }
}

// Text hero
.hero_text_box {
  @include center();
  flex-direction: column;

  span {
    padding-left: 70px;
    color: #b6ac9a;
    font-size: 140px;
    font-weight: bold;
  }

  h1 {
    color: #707171;
    font-size: 140px;
    font-weight: bold;
    line-height: 125px;
    margin-bottom: 16px;
  }
  h6 {
    color: #1a1a1a;
    font-size: 48px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .hero_text_box {
    span {
      padding-left: 38px;
      font-size: 70px;
    }

    h1 {
      font-size: 70px;
      line-height: 60px;
    }
    h6 {
      font-size: 24px;
    }
  }
}

// Image hero
.image_hero_box {
  @include center();

  padding: 200px;
  padding-top: 0;
  padding-bottom: 0;

  img {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .image_hero_box {
    padding: 100px;
    padding-top: 0;
  }
}

@media (max-width: 767px) {
  .image_hero_box {
    padding: 0px;
  }
}

// Soulutions
.soulution_box {
  padding-top: 64px;

  h1 {
    text-align: center;
    margin-bottom: 32px;
    font-weight: bold;
  }

  .soulution {
    @include center();
    gap: 64px;
    flex-wrap: wrap;

    .box {
      @include center();
      flex-direction: column;
      padding: 16px;
      border-radius: 16px;
      aspect-ratio: 1 / 1;
      width: 194px;
      transition: 0.2s;
      &:hover {
        transform: scale(1.03);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      h5 {
        color: #212529;
        margin: 0;
      }

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 575px) {
  // Soulutions
  .soulution_box {
    h1 {
      margin-bottom: 16px;
    }

    .soulution {
      gap: 16px;

      .box {
        padding: 0px;
        width: 165px !important;

        h5 {
          font-size: 18px;
        }
      }
    }
  }
}

// Branding
.branding_box {
  @include center();

  div:nth-child(1) {
    width: 55%;
  }

  div:nth-child(2) {
    width: 45%;
  }

  div {
    @include center();
    flex-direction: column;

    h1 {
      font-size: 120px;
    }

    h2 {
      font-size: 64px;
    }

    img {
      width: 100%;
    }

    a {
      @include center();
      margin-top: 32px;
      font-size: 32px;
      color: #f1f1f1;
      background-color: #b6ac9a;
      border-radius: 64px;
      padding: 10px 25px;
      transition: 0.3s;

      &:hover {
        color: #007bff;
        background-color: transparent;
      }

      svg {
        transition: 0.3s;
      }

      &:hover svg {
        transform: translateX(10px);
        color: #007bff;
      }
    }
  }
}

@media (max-width: 991px) {
  .branding_box {
    flex-direction: column;

    div:nth-child(1) {
      width: 100%;
    }

    div:nth-child(2) {
      width: 100%;
    }

    h3 {
      font-size: 16px;
    }

    h1 {
      font-size: 85px !important;
      margin-top: 32px;
    }

    h2 {
      font-size: 44px !important;
    }
  }
}
