@use "../../sass" as *;

.social_media_icon {
  @include center();
  gap: 16px;
  font-size: 18px;

  a {
    color: inherit;
    transition: 0.2s;
    color: #000000A6;

    &:hover {
      color: #000;
    }
  }
}

@media (min-width: 991px) {
  .social_media_icon_box {
    display: none;
  }
}
