@use "../../sass" as *;

footer {
  background-color: #888888;
  color: #f1f1f1;
  // padding-bottom: 16px;
  padding: 32px 64px;
  padding-bottom: 12px;

  .footer_box {
    @include center();
    justify-content: space-between;

    h1 {
      font-size: 55px;
      font-weight: bold;
      line-height: 50px;
      margin: 0;
    }

    a {
      color: inherit;
      transition: 0.2s;

      &:hover {
        color: #b6ac9a;
        text-decoration: underline;
      }
    }

    .social_media_icon_box {
      @include center();
      flex-direction: column;
      justify-content: space-between;

      .social_media_icon {
        @include center();
        gap: 16px;
        font-size: 22px;

        a {
          color: inherit;
          transition: 0.2s;

          &:hover {
            color: #b6ac9a;
          }
        }
      }
    }
  }

  p {
    text-align: center;
    font-size: 15px;
    margin: 0;
  }

  .email {
    @include center();
    flex-direction: column;
    gap: 8px;
  }
}

@media (max-width: 800px) {
  footer {
    padding: 32px 16px;
    padding-bottom: 12px;
  }
  .footer_box {
    flex-direction: column;
  }

  .title {
    order: 1;
  }

  .social_media_icon_box {
    order: 3;
    margin-bottom: 16px;
  }

  .email {
    order: 2;
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

.sticky_icon {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 30px;
  bottom: 30px;
  z-index: 5;
  background-color: #25d366;
  border-radius: 100%;
  color: #fff !important;
  font-size: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sticky_icon::before {
  content: "";
  position: absolute;
  border: 1px solid #25d366;
  border-radius: 100%;
  /* top: -5px; */
  /* right: -5px; */
  /* bottom: -5px; */
  /* left: -5px; */
  width: 100%;
  height: 100%;
  background-color: #25d366;
  z-index: -1;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation: ripple-out 1s infinite;
}
@keyframes ripple-out {
  to {
    /* top: -20px; */
    /* right: -20px; */
    /* bottom: -20px; */
    /* left: -20px; */
    opacity: 0;
    width: 150%;
    height: 150%;
  }
}

// whatsapp

.Window {
  width: 335px;
  // height: 335px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 24px 0px;
  border-radius: 16px;
  position: fixed;
  z-index: 888;
  bottom: 80px;
  right: 30px;
  // display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.hideShowWinow {
  opacity: 1;
  // display: block !important;
  visibility: visible;
  bottom: 95px;
}

.Header_Component {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #111;
  // height: 100px;
  padding: 16px;
}

.avatar_container {
  overflow: hidden;
  margin-right: 12px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #14c656;
    border: 2px solid #fff;
    position: absolute;
    bottom: 0;
  }

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

.Header_Name {
  font-weight: 500;
}

.Header_AnswerTime {
  font-size: 14px;
  font-weight: 400;
  color: #222;
}

.close_btn_box {
  align-self: flex-start;
  width: 84px;

  button {
    background-color: transparent;
    color: #888;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: #000;
    }
  }
}

.ChatLayout {
  background-image: url("../../assets/images/whatsapp-bg.jpg");
  background-size: cover;
  background-color: #fbfbfb;
  padding: 16px;

  .ChatLayout_box {
    border-radius: 12px;
    padding: 12px;
    background-color: #fff;
    color: #000;
    width: fit-content;
  }

  .ChatLayout_Author {
    color: #00000066;
    font-size: 13px;
    margin-bottom: 8px;
  }

  .ChatLayout_Text {
    color: #222;
    font-size: 14px;
  }

  .ChatLayout_Time {
    color: #11111180;
    font-size: 13px;
    text-align: end;
  }
}

.ButtonBase_ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 8px;
  margin: auto;
  background-color: rgb(20, 198, 86);
  border-radius: 24px;
  width: calc(100% - 40px);
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 16px;
  border-width: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 40px;
  transition: 0.2s;

  svg {
    fill: #fff;
  }

  &:hover {
    background-color: #08e659;
  }
}
