.container {
  padding: 0px;
  padding-bottom: 32px;
  padding-top: 100px;
  background-color: #fbfbfb;
  // background: linear-gradient(#e3c5c5 15%, #fbfbfb 30%);
}

@media (max-width: 575px) {
  .container {
    padding: 0px;
    padding-bottom: 16px;
    padding-top: 100px;
  }
}

// Section O
.O {
  height: 600px;
  // aspect-ratio: 16 / 9;

  background-image: url(../../assets/images/website/hero.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    font-size: 5.3125rem;
    line-height: 0.8;
    font-weight: 700;
    height: 100%;
    display: flex;
    // align-items: center;
    justify-content: center;
    // padding-left: 150px;
    padding-top: 64px;
    color: #333;
    width: 100%;
  }
}

@media (max-width: 567px) {
  .O {
    height: 350px;

    h1 {
      font-size: 3rem;
      line-height: 0.8;
      font-weight: 700;
      height: 100%;
      // display: flex;
      // align-items: center;
      // justify-content: flex-start;
      padding-right: 32px;
      color: #333;
    }
  }
}

// Section A
.A {
  padding-left: 16px;
  padding-right: 16px;
  h1 {
    text-align: center;
    margin: 0;
    margin-top: 16px;
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 600;
  }

  .img_box_A {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      a {
        background-color: #b6ac9a;
        border-radius: 32px;
        padding: 2px 18px;
        color: #fbfbfb;
        transition: 0.2s;

        &:hover {
          background-color: transparent;
          color: #007bff;
        }
      }
    }

    img {
      width: 100%;
    }

    div:nth-of-type(1) {
      width: 40%;
    }
    div:nth-of-type(2) {
      width: 60%;
    }
  }
}

@media (max-width: 575px) {
  .A {
    h1 {
      font-size: 35px;
    }

    .img_box_A {
      flex-direction: column-reverse;

      img {
        width: 100%;
      }

      div:nth-of-type(1) {
        width: 100%;
      }
      div:nth-of-type(2) {
        width: 100%;
      }
    }
  }
}

//   Section B
.B {
  padding-left: 16px;
  padding-right: 16px;
  h1 {
    text-align: center;
    margin: 0;
    margin-top: 64px;
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 600;
  }

  .img_box_B {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      a {
        background-color: #b6ac9a;
        border-radius: 32px;
        padding: 2px 18px;
        color: #fbfbfb;
        transition: 0.2s;

        &:hover {
          background-color: transparent;
          color: #007bff;
        }
      }
    }

    img {
      width: 100%;
    }

    div:nth-of-type(1) {
      width: 60%;
    }
    div:nth-of-type(2) {
      width: 40%;
    }
  }
}

@media (max-width: 575px) {
  .B {
    h1 {
      font-size: 35px;
    }

    .img_box_B {
      flex-direction: column-reverse;

      img {
        width: 100%;
      }

      div:nth-of-type(1) {
        width: 100%;
      }
      div:nth-of-type(2) {
        width: 100%;
      }
    }
  }
}

//   Section C
.C {
  padding-left: 16px;
  padding-right: 16px;
  background: linear-gradient(#e3c5c5 15%, #fbfbfb 85%);

  margin-bottom: 64px;
  padding-top: 64px;

  h1 {
    text-align: center;
    margin: 0;
    // margin-top: 64px;
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 600;
  }

  .img_box_C {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;

      a {
        background-color: #b6ac9a;
        border-radius: 32px;
        padding: 2px 18px;
        color: #fbfbfb;
        transition: 0.2s;

        &:hover {
          background-color: transparent;
          color: #007bff;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .C {
    h1 {
      font-size: 35px;
    }

    .img_box_C {
      img {
        width: 100%;
      }
    }
  }
}

// Section D
.D {
  padding-left: 16px;
  padding-right: 16px;
  h1 {
    text-align: center;
    margin: 0;
    margin-top: 64px;
    margin-bottom: 32px;
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 600;
  }

  .img_box_D {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc((100% / 4) - 12px);
      aspect-ratio: 1 / 1;
      // padding: 8px;
      // background-color: #fff;
      transition: 0.2s;
      cursor: pointer;
      border-radius: 16px;
      overflow: hidden;

      &:hover {
        transform: scale(1.1);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      img {
        // width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: 575px) {
  .D {
    h1 {
      font-size: 35px;
    }

    .img_box_D {
      width: 100%;
      div {
        width: calc((100% / 2) - 8px);
      }
    }
  }
}

// Section E
.E {
  padding-left: 16px;
  padding-right: 16px;
  h1 {
    text-align: center;
    margin: 0;
    margin-top: 64px;
    margin-bottom: 32px;
    color: #1a1a1a;
    font-size: 48px;
    font-weight: 600;
  }

  .E_inner_box {
    display: flex;
    align-items: stretch;
    justify-content: center;

    div {
      width: 50%;
      // height: 100%;
      border-radius: 16px;
      overflow: hidden;
      text-align: center;
      // flex: 1;

      a {
        display: inline-block;
        background-color: #b6ac9a;
        color: #fbfbfb;
        // padding: 6px 64px;
        // border-radius: 55px;
        font-size: 24px;
        font-weight: 500;
        transition: 0.2s;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #fbfbfb;
          color: #007bff;
        }

        svg {
          transition: 0.2s;
        }

        &:hover svg {
          transform: translateX(10px);
        }
      }

      img {
        width: 100%;
      }
    }

    .E_inner_box_one {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .E_inner_box_two {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

@media (max-width: 800px) {
  .E {
    h1 {
      margin: 0;
      margin-top: 64px;
      margin-bottom: 32px;
      color: #1a1a1a;
      font-size: 48px;
      font-weight: 600;
    }

    .E_inner_box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;

      div {
        width: 100%;
        margin-bottom: 16px;
        border-radius: 16px !important;

        a {
          padding: 6px 64px;
          font-size: 22px;
          font-weight: 500;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .E {
    h1 {
      font-size: 35px;
    }
  }
}

// Section F
.F {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 32px;
  margin-bottom: 32px;

  .F_inner_box {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: center;

    div {
      width: 50%;
      // height: 100%;
      border-radius: 16px;
      overflow: hidden;
      text-align: center;
      // flex: 1;

      a {
        display: inline-block;
        background-color: #b6ac9a;
        color: #fbfbfb;
        // padding: 6px 64px;
        // border-radius: 55px;
        font-size: 24px;
        font-weight: 500;
        transition: 0.2s;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #fbfbfb;
          color: #007bff;
        }

        svg {
          transition: 0.2s;
        }

        &:hover svg {
          transform: translateX(-10px);
        }
      }

      img {
        width: 100%;
      }
    }

    .F_inner_box_two {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .F_inner_box_one {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

@media (max-width: 800px) {
  .F {
    h1 {
      margin: 0;
      margin-top: 64px;
      margin-bottom: 32px;
      color: #1a1a1a;
      font-size: 48px;
      font-weight: 600;
    }

    .F_inner_box {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column-reverse;

      div {
        width: 100%;
        margin-bottom: 16px;
        border-radius: 16px !important;

        a {
          padding: 6px 64px;
          font-size: 22px;
          font-weight: 500;
        }
      }
    }
  }
}
