.container {
  padding: 0px;
  padding-bottom: 32px;
  padding-top: 100px;
  // background-color: #fbfbfb;
  background-color: #f8f7f1;
  // background: linear-gradient(#e3c5c5 15%, #fbfbfb 30%);
}

@media (max-width: 575px) {
  .container {
    padding: 0px;
    padding-bottom: 16px;
    padding-top: 100px;
  }
}

// Hero
.hero {
  height: 400px;
  // aspect-ratio: 16 / 9;
  background-image: url(../../assets/images/social/social-marketing.webp);
  background-position: top;
  // background-position-x: right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 567px) {
  .hero {
    height: 180px;
  }
}

// A
.A {
  background-color: #171615;
  text-align: center;
  padding-top: 64px;
  padding-left: 32px;
  padding-right: 32px;

  h1 {
    color: #fff;
    margin-bottom: 32px;
    font-weight: bold;
  }

  h4 {
    color: #adacac;
    line-height: 1.6;
    margin-bottom: 64px;
  }

  a {
    margin-bottom: 64px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 55px;
    color: #fff;
    padding: 12px 32px;
    font-size: 22px;
    font-weight: 600;
    transition: 0.3s;

    &:hover {
      background-color: #fff;
      color: #171615;
    }
  }
}

.tringle {
  width: 100%;
  height: 120px;
}

@media (max-width: 575px) {
  .A {
    padding-left: 16px;
    padding-right: 16px;

    h4 {
      margin-bottom: 32px;
      font-size: 18px;
    }
  }
}

// Section B
.B {
}
