*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto !important;
}

body {
  font-family: "Cairo", sans-serif !important;
  /* background-color: #e7e7e7; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

/* Navbar */

nav {
  box-shadow: 0 6px 14px #0000001a !important;
  /* background: rgba(255, 255, 255, 0.5); */
  /* backdrop-filter: blur(4.5px); */
}

.bg-body-tertiary,
.offcanvas {
  background-color: #fbfbfb !important;
}

@media (min-width: 991px) {
  nav {
    background: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(4.5px) !important;
  }

  .bg-body-tertiary,
  .offcanvas {
    background-color: transparent !important;
  }
}

.dropdown-item {
  color: #000000a6 !important;
  text-align: right;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #000 !important;
  border-bottom: none;
  background-color: #f8f9fa !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #f8f9fa !important;
  color: #000 !important;
}

.dropdown-toggle::after {
  margin-right: 0.255em;
}

.logo {
  width: 100px;
}

.uniform-icon {
  font-size: 24px;
  margin-left: 16px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  border: none;
}

@media (min-width: 991px) {
  .uniform-icon {
    display: none;
  }

  .active {
    border-bottom: 1px solid #000;
  }
}

@media (max-width: 991px) {
  .nav-item.dropdown {
    display: none !important;
  }

  .nav-item.d-none {
    display: block !important;
  }

  .navbar-nav {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}

/* form */
.btn-primary {
  background-color: #b6ac9a !important;
  border-color: #b6ac9a;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #837966 !important;
  border-color: #b6ac9a !important;
}

.form-control:focus {
  border-color: #b6ac9a !important;
  box-shadow: 0 0 0 0.25rem #b6ac9a6c !important;
}
